DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=

DB_HOST=db
DB_NAME=freelancercrib
DB_USER=postgres
DB_PASS=supersecretpassword

JWT_SECRET_KEY=change-me-to-a-different-long-random-string
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=20
