# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
.venv/
env/
ENV/

# =========================
# Django
# =========================
*.log
db.sqlite3
media/

# =========================
# Environment
# =========================
.env
.env.*

!.env.example

# =========================
# Pytest
# =========================
.pytest_cache/
.coverage
htmlcov/
.coverage.*
.cache/

# =========================
# Type Checkers
# =========================
.mypy_cache/
.pyre/
.pytype/

# =========================
# Linter
# =========================
.ruff_cache/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-data/
*.pid

# =========================
# Build
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Misc
# =========================
*.swp
*.swo